{% load static %}

<head>
    <style>
        form{
            border:4px solid #eeeeee;
            margin: 0 auto;
            padding: 30px;
            margin-top: 40px;
            width: fit-content;
            background-color: none;
            color:#eeeeee;
        }
        .body1{
		    background: #c98895ff !important;
            font-family: 'Playfair Display';
	    }
        
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"0>
    <link href="https://fonts.google.com/specimen/Playfair+Display" rel="stylesheet"> 

<!-- </head>
<form action="{% url 'addInForum' %}" method="POST">
    {% csrf_token %}
    {{forum_form.as_p}}
    <input type="submit" class="btn btn-success" value="submit">
</form> -->

<body class="body1">
<form action="{% url 'addInForum' %}" method="POST">
    {% csrf_token %}
    <table class="form form-table">
      <div class="form-group col-md-6">
          <label for="choice">Title:</label><br>
          {{ forum_form.title }}
      </div>
      <div class="form-group col-md-6">
          <label for="description">Description:</label><br>
          {{ forum_form.description }}
      </div>
      <input type="submit" value="submit" class="btn btn-light" style="color: #eeeeee; background-color: transparent; font-family: 'Playfair Display'; margin-left: 20px;">
    </table>
  </form>
</body>