<style>

    .navbar_bottom {
      /* overflow: hidden;
      background-color: #333;
      position: fixed;
      bottom: 0;
      width: 100%; */
      background: #eeeeee !important;
      color: #b66878;
      overflow: hidden;
      background-color: #333;
      position: fixed;
      bottom: 0;
      width: 100%;
      left: 0;

    }
    
    .navbar_bottom p {
      /* float: left;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px; */
      float: left;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .navigate{
        background: #eeeeee !important;
        color: #b66878;
    }
    
    </style>
    </head>
    <body>
    
<nav class="navbar navbar-expand-lg navbar-dark navigate ">
    <div class="navbar_bottom">
      <p>Contact us:</p><br>
      <p>@neha.adapala@gmail.com</p>
    </div>
</nav>