<div style="background-color: #c98895ff; padding-bottom: 100px;">
{% extends 'features/base.html' %}

{% block title %}
<h1 style="font-size:100px; margin-top:50px; font-family: 'Playfair Display'; text-align: center; color: #eee;">Tracker</h1>
{% endblock %}

{% block content %}
<link href="https://fonts.google.com/specimen/Playfair+Display" rel="stylesheet">
<div class="clearfix">
	<a class="btn btn-light left" href="{% url 'calendar' %}?{{ prev_month }}" style="font-family: 'Playfair Display'; border: 1px solid #eeeeee;"> Previous Month </a>
	<a class="btn btn-light right" href="{% url 'calendar' %}?{{ next_month }}" style="font-family: 'Playfair Display';border: 1px solid #eeeeee;"> Next Month </a>
	<a class="btn btn-light right" href="{% url 'event_insert' %}" style="font-family: 'Playfair Display';border: 1px solid #eeeeee;"> New Event </a>
</div>

{{ calendar }}
{% endblock %}
</div>